GridPane {
  -fx-background-color: -color-bg-main;
}

Label {
  -fx-text-fill: -color-fg-main;
  -fx-font-family: "Arial", sans-serif;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}



Button {
  -fx-background-color: -color-bg-button-primary;
  -fx-text-fill: -color-fg-button-primary;
  -fx-font-family: "Arial", sans-serif;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
  -fx-max-width: Infinity;
}

Button:hover {
  -fx-background-color: -color-bg-button-primary-hover;
  -fx-effect: dropshadow(gaussian, -color-shadow-button-primary, 10, 0.5, 0, 0);
}

Button:pressed {
  -fx-background-color: -color-bg-button-primary-pressed;
}

:focused {
  -fx-effect: dropshadow(gaussian, -color-accent-purple, 10, 0.5, 0, 0);
}
