.root {
  -fx-background-color: #191919;
}

.label {
  -fx-font-size: 24px;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-padding: 20px;
  -fx-background-color: #333333;
  -fx-border-color: #007bff;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}
