package crud.${featureName};

import com.google.inject.AbstractModule;

public class ${featureNameCapitalized}Module extends AbstractModule {
    @Override
    protected void configure() {
        // Bindings for ${featureName} module
    }
}
